.text
    font-family: 'Poppins', sans-serif
    color: white

.hall
    width: 100%
    margin-top: 25px

    .screen
        padding: 10px 0 20px

        .text
            font-family: 'Poppins', sans-serif
            color: white
            text-align: center

        .screen-line
            width: 100%
            height: 3px
            background-color: white

    .line
        width: 100%
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        margin-bottom: 10px

        .line-text
            color: white

        .seats
            display: flex
            flex-direction: row
            justify-content: center
            align-items: center

            .seat
                display: flex
                justify-content: center
                align-items: center
                width: 35px
                height: 35px
                border-radius: 13px
                margin: 0 3px

            .caption
                font-family: 'Poppins', sans-serif

            .available
                background-color: white

            .unavailable
                background-color: #373741
                color: white
