@import '../../_variables'

.sidebar-container
    background-color: #1b1c21
    height: 100vh
    width: $sidebar-width
    padding: 50px 0
    border-right: 1px solid rgba(white,0.2)

    .logo
        color: white
        font-family: 'Satisfy', sans-serif
        text-align: center

    .subtitle
        color: white
        font-family: 'Poppins', sans-serif
        text-align: center

    .tabs
        padding: 50px 0

        .button
            display: flex
            justify-content: flex-start
            align-items: center
            width: 100%
            height: 40px
            text-transform: capitalize
            background-color: transparent
            color: black
            padding: 0

            &:hover
                background-color: transparent

            .content
                display: flex
                justify-content: flex-start
                align-items: center

                .icon-wrapper
                    width: 35px
                    height: 35px
                    display: flex
                    justify-content: center
                    align-items: center
                    margin-right: 10px

                    .icon
                        color: #414350

                    .icon-active
                        color: $primary

                .caption
                    font-family: 'Poppins', sans-serif
                    letter-spacing: 0.5px
                    color: #414350

                .caption-active
                    color: white

        .side-mark
            width: 6px
            height: 100%
            border-top-right-radius: 10px
            border-bottom-right-radius: 10px
            margin-right: 15px

        .side-mark-active
            background-color: $primary

        .space
            margin: 10px 0
